<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.unidhaka.cse.cse2216.keephealthy">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Shrine">
        <activity
                android:name=".LoginPage"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".Registration"
                android:label="Registration"
                android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ProfileActivity">
        </activity>
        <activity android:name=".exercise"
                  android:label="Exercise">
        </activity>
        <activity android:name=".list_of_exercise">
        </activity>
        <activity android:name=".home_page" android:label="Home Page"/>
        <activity android:name=".meal"
                  android:parentActivityName=".Take_a_meal">


        </activity>
        <activity
                android:label="Take a meal"
                android:name=".Take_a_meal"
                  android:parentActivityName=".home_page">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".home_page" />
        </activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:label="Drink Water"
                android:name=".DrinkWater" android:parentActivityName=".home_page">
        </activity>
    </application>

</manifest>