<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="edu.unidhaka.cse.cse2216.keephealthy">

    <uses-permission android:name="android.permission.INTERNET"/>


    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Shrine" tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".LoginPage"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".Registration"
                android:label="Registration"
                android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ProfileActivity">
        </activity>
        <activity android:name=".exercise"
                  android:label="Exercise">
        </activity>
        <activity android:name=".list_of_exercise">
        </activity>
        <activity android:name=".home_page"
                  android:label="Home Page"/>
        <activity android:name=".forgot_passwordd"
        android:parentActivityName=".LoginPage"/>

        <activity android:name=".meal"
                  android:parentActivityName=".Take_a_meal"/>

        <activity android:name=".Take_a_meal"
                  android:label="Take a meal"
                  android:parentActivityName=".home_page">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".home_page" />
        </activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".DrinkWater"
                  android:parentActivityName=".home_page">
        </activity>
        <activity android:name=".date_picker"/>
        <activity android:name=".Step_counter"/>

        <service
                android:name=".step.StepService"
                android:label="Step counter service">

        </service>

        <receiver
                android:name=".BootBroadcastReceiver"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <action android:name="cn.ikaze.pedometer.start" />
            </intent-filter>
        </receiver>
    </application>

</manifest>